name: Terraform Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::447572331640:role/GitHubActionsTerraformRole
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Clean terraform cache
        run: rm -rf infra/.terraform
  
      - name: Terraform Init
        working-directory: infra
        run: terraform init -upgrade

      - name: Terraform Apply
        working-directory: infra
        run: terraform apply -auto-approve
